/target/
target/*
/catalina.base_IS_UNDEFINED/
/.settings/
.settings/*
.settings
nohup.out
.classpath/
/bin/
bin/
.idea/
Deslacked.iml
var/*
.DS_STORE
.bin

deslacked_2021-12-01.sql
backup.sql


npm-debug.log*
yarn-debug.log*
yarn-error.log*

/node_modules

#ESLint
/src/.eslintcache

#Tailwind CSS
/src/styles
